@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



@font-face {
  font-family: 'MonumentExtendedRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/MonumentExtended-Regular.otf');
  font-display: swap;
}

@layer base {
  
  body {
    background-color: #F5F5F5;
  }

  * {
    font-family: 'DM Sans', sans-serif;
  }

  .fs-monument {
    font-family: MonumentExtendedRegular;
  }

  .navbar-info {
    @apply bg-green-700;
  }

  .navbar-info :first-child {
    @apply container py-1 px-3 text-end sm:px-0;
  }

  .navbar-info a {
    @apply text-white ml-3 sm:ml-5 text-sm;
  }

  .bg-round {
    background-image: url('../public/images/bg-round.png');
    background-repeat: no-repeat;
    background-size: 90vw;
    background-position: center 350px;
  }

  @media (min-width: 768px) {
    .bg-round {
      background-image: url('../public/images/bg-round.png');
      background-repeat: no-repeat;
      background-size: 60vw;
      background-position: center 400px;
    }
  }

  @media (min-width: 1280px) {
    .bg-round {
      background-image: url('../public/images/bg-round.png');
      background-repeat: no-repeat;
      background-size: 70vw;
      background-position: center 700px;
    }
  }

  @media (min-width: 1536px) {
    .bg-round {
      background-image: url('../public/images/bg-round.png');
      background-repeat: no-repeat;
      background-size: 60vw;
      background-position: center 400px;
    }
  }
}


@layer components {
  .text-normal {
    @apply text-[14px] md:text-[22px];
  }
}